header {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #141516;

  a {
    margin: 0 12px;
    color: white;

    &:hover {
      opacity: 0.6;
    }
  }
}